<div>
  <link href="./about-section.css" rel="stylesheet" />
  <div class="about-section-about-section">
    <div class="about-section-about-row-inner-col">
      <div class="about-section-about-row-title-row">
        <span class="about-section-text">
          <span class="about-section-text01">Beitzell Fence Company</span>
          <br />
        </span>
      </div>
      <div class="about-section-about-row-content-row">
        <div class="about-section-about-row-content-col">
          <span class="about-section-text03">
            <span class="about-section-text04">
              Beitzell Fence has provided high-quality fences, unsurpassed
              service and low prices for over 30 years. Beitzell Fence is
              family-owned and offers a wide variety of residential and
              commercial fencing.
            </span>
            <br class="about-section-text05" />
            <br class="about-section-text06" />
            <span class="about-section-text07">
              Our fences will enhance your property and boost your security.
              Beitzell Fence can provide fencing for homes, businesses and
              athletic facilities. Contact us today for a
            </span>
            <span class="about-section-text08">FREE ESTIMATE</span>
            <span class="about-section-text09">!</span>
            <br />
          </span>
        </div>
        <div class="about-section-about-row-award-col">
          <img
            alt="image"
            src="public/playground_assets/va_fairfax_fence-companies_2021-1500w.webp"
            class="about-section-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
