.content-section-heading2-container {
  display: flex;
  position: relative;
}
.content-section-heading2-text {
  width: 100%;
  font-size: 3rem;
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}


@media(max-width: 991px) {
  .content-section-heading2-text {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .content-section-heading2-text {
    text-align: left;
  }
}
