<div>
  <link href="./final-form-row.css" rel="stylesheet" />
  <div class="final-form-row-final-form-row">
    <div class="final-form-row-form-col">
      <div class="final-form-row-container">
        <span class="final-form-row-text">
          <span class="final-form-row-text1">Get A Free Fence Estimate</span>
          <br />
        </span>
      </div>
      <form
        action="https://convertgpt.vercel.app/api/new_lead"
        method="POST"
        enctype="application/x-www-form-urlencoded"
        class="final-form-row-form"
      >
        <div class="final-form-row-container1">
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="final-form-row-textinput input"
          />
          <div class="final-form-row-container2">
            <input
              type="email"
              name="email"
              placeholder="Email Address"
              class="final-form-row-textinput1 input"
            />
            <input
              type="tel"
              name="phone"
              placeholder="Phone"
              class="final-form-row-textinput2 input"
            />
          </div>
          <div class="final-form-row-container3">
            <input
              type="text"
              name="city"
              placeholder="City"
              class="final-form-row-textinput3 input"
            />
            <input
              type="text"
              name="state"
              placeholder="State"
              class="final-form-row-textinput4 input"
            />
          </div>
          <input
            type="text"
            name="message"
            placeholder="Message"
            class="final-form-row-textinput5 input"
          />
          <div class="final-form-row-container4">
            <button type="submit" class="final-form-row-button button">
              <span class="final-form-row-text3">
                <span>Free Estimate</span>
                <br />
              </span>
            </button>
          </div>
        </div>
        <input
          type="text"
          name="client_id"
          value="58152ae5-3092-48a4-ae8d-1c830e0b904c"
          required
          placeholder="1"
          class="final-form-row-inputclientid input"
        />
        <input
          type="text"
          name="landing_page_id"
          value="a0fa1304-36dd-43e8-833f-49393299ba10"
          required
          placeholder="1"
          class="final-form-row-inputlandingpageid input"
        />
      </form>
    </div>
  </div>
</div>
