<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <div class="footer-footer-row-locations">
      <div class="footer-container">
        <img
          alt="image"
          src="public/playground_assets/beitzell-logo-1500w.png"
          class="footer-image"
        />
      </div>
      <div class="footer-container1">
        <span class="footer-text"><span>Location</span></span>
        <span class="footer-text01">
          <span>16351 Lee Highway,</span>
          <br />
          <span>Gainesville, VA 20155</span>
          <br />
        </span>
        <button class="footer-button button">
          <span class="footer-text06 fa-phone-square fa"><span> </span></span>
          <span class="footer-text07">
            <span>703-754-0011</span>
            <br />
          </span>
        </button>
      </div>
      <div class="footer-container2">
        <span class="footer-text10"><span>Hours</span></span>
        <span class="footer-text11">
          <span>Monday-Friday</span>
          <br />
          <span>9am-5pm</span>
          <br />
        </span>
      </div>
    </div>
    <div class="footer-footer-row-privacy"></div>
  </div>
</div>
