<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html@0.1.12/dist/default/lib.umd.js"
  ></script>
  <link href="./header-brand.css" rel="stylesheet" />
  <div class="header-brand-header-brand-row">
    <div class="header-brand-header-brand-inner">
      <div class="header-brand-logo-col">
        <div class="header-brand-container">
          <img
            alt="image"
            src="public/playground_assets/beitzell-logo-300w.png"
            class="header-brand-image"
          />
        </div>
      </div>
      <div class="header-brand-buttonc-ol">
        <button class="header-brand-button button">
          <span>Free Quote</span>
        </button>
      </div>
      <div class="header-brand-call-col">
        <span class="header-brand-text">
          <span>Family-Owned & Operated</span>
        </span>
        <span class="header-brand-text1"><span>(999) 999-9999</span></span>
      </div>
    </div>
    <div>
      <dangerous-html
        html="<!-- Google tag (gtag.js) -->
<script async src='https://www.googletagmanager.com/gtag/js?id=G-FX4EWMMF8K'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FX4EWMMF8K');
</script>"
      ></dangerous-html>
    </div>
  </div>
</div>
