<div>
  <link href="./offer-row.css" rel="stylesheet" />
  <div class="offer-row-offer-row">
    <div class="offer-row-container">
      <div class="offer-row-primary-offer-row">
        <div class="offer-row-offer-row-discount-col">
          <span class="offer-row-text">
            <span>$200 OFF installations of over 100′ </span>
            <span>of new fence.</span>
            <br />
          </span>
        </div>
        <div class="offer-row-container1"></div>
        <div class="offer-row-offer-row-gate-col">
          <span class="offer-row-text4">
            <span>Free Gate with any 150 foot fence installation</span>
          </span>
        </div>
      </div>
      <span class="offer-row-text5">
        <span>
          Cannot be combined with other offers. Residential Only. Some
          exclusions may apply. Offer Valid through 3/31/2023.
        </span>
        <br />
        <br />
      </span>
    </div>
  </div>
</div>
