<div>
  <link href="./testimonial-section.css" rel="stylesheet" />
  <div class="testimonial-section-testimonial-section">
    <div class="testimonial-section-testimonial-row-inner-row">
      <div class="testimonial-section-testimonial-row-inner-col">
        <span class="testimonial-section-testimonial-headline">
          <span class="testimonial-section-text">
            “I can wholeheartedly recommend Beitzell Fence”
          </span>
          <br />
        </span>
        <span class="testimonial-section-testimonial-text">
          <span class="testimonial-section-text2">
            “We chose Beitzell Fence to replace an older wooden fence because of
            their professionalism, good communication, and they offered the best
            price out of multiple estimates.
          </span>
          <span class="testimonial-section-text3">
            The work crew was punctual, hardworking and professional, and
            cleaned up the job site when the job was complete.
          </span>
          <span class="testimonial-section-text4">
            I can wholeheartedly recommend Beitzell Fence based on our good
            experience with their team.”
          </span>
          <br class="testimonial-section-text5" />
          <br />
        </span>
        <span class="testimonial-section-testimonial-author">
          <span>– Robin H.</span>
          <br />
        </span>
      </div>
      <img
        alt="image"
        src="public/playground_assets/family-review-1000w.jpg"
        class="testimonial-section-testimonial-image"
      />
    </div>
  </div>
</div>
